* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: poppins, sans-serif;
}

/* header */
header {
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left-bar */
.logo {
  /* border: 1px solid red; */
  min-width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo svg {
  height: 100%;
  width: 50px;
}

.logo span {
  /* border: 1px solid green; */
  font-size: 30px;
}

/* center-bar */
.center {
  /* border: 1px solid red; */
  min-width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.center nav a {
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.center nav a:hover {
  background-color: whitesmoke;
}

/* right-bar */
.login {
  /* border: 1px solid red; */
  height: 80px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.glass {
  /* border: 1px solid gold; */
  border-radius: 5px;
  width: 50px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass:hover {
background-color: whitesmoke;
}

svg {
  width: 50px;
  height: 80%;
}

.cart {
  /* border: 1px solid gold; */
  border-radius: 5px;
  width: 50px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart:hover {
background-color: whitesmoke;
}

.login nav {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.login nav a {
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.login nav a:hover {
  background-color: whitesmoke;
}

/* shopping */
main {
  /* border: 2px solid rebeccapurple; */
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
}

.my-cart {
  /* border: 1px dashed green; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.my-cart h1 {
  /* border: 1px solid firebrick; */
  display: flex;
  font-size: 35px;
  margin-top: 50px;
  margin-left: 50px;
  /* margin: 30px 20px; */
}

.box-cart {
  /* border: 1px solid mediumorchid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 80px;
}

.box-app {
  /* border: 1px dashed darkgoldenrod; */
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 300px;
  margin: 20px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-app>svg {
  border: 2px solid #5ed989;
  width: 45px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  margin-left: 16px;
}
.box-app>svg:hover {
background-color: whitesmoke;
}

.app {
  /* border: 2px dashed indianred; */
  border-radius: 20px;
  background-color: #2758b9;
  width: 250px;
  height: 80%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.app2 {
  /* border: 2px dashed indianred; */
  border-radius: 20px;
  background-color: #e88121;
  width: 250px;
  height: 80%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.app svg {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  margin: 16px;
}

.app2 svg {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  margin: 16px;
}

h2,
h4 {
  /* border: 1px solid navajowhite; */
  display: flex;
  justify-content: center;
  gap: 8px;
  color: whitesmoke;
}

.app-name {
  /* border: 2px dashed lime; */
  width: 400px;
  height: 200px;
  margin: 0px 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-name>h2 {
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* text-align: start; */
}

.middle {
  display: flex;
  gap: 8px;
  margin: 8px 0;
  margin-bottom: 16px;
}

.circle {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.circle:hover {
background-color: #5ed989;
}

/* order-info */
.order {
  /* border: 2px solid salmon; */
  background-color: whitesmoke;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-info {
  /* border: 1px dashed navy; */
  background-color: rgb(234, 231, 231);
  border-radius: 20px;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
}

.info-top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 4px 20px;
}

.coupon {
  /* border: 1px dashed fuchsia; */
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.coupon input {
  width: 70%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 10px;
  font-size: 16px;
}

.coupon button {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  border: 3px solid #5ed989;
  background-color: none;
}

.coupon button:hover {
  background-color: lightgray;
}

.line {
  border: 2px solid lightgray;
  width: 100%;
}

.total {
  /* border: 1px solid blueviolet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.total>h2 {
  color: black;
}

.total>h1 {
  color: #5ed989;
}

.checkout {
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.checkout>button {
  background-color: #5ed989;
  border: none;
  border-radius: 10px;
  padding: 16px;
  width: 90%;
}
.checkout>button:hover {
background-color: #4bb06e;
}